.empty-email-reg,
.wrong-email-reg,
.empty-password-reg,
.email-busy-reg {
	display: none;
}

.empty-email,
.wrong-email,
.empty-password {
	display: none;
}

.notification__error--text {
	line-height: 1.3;
}

.avatar {
	background-image: url('../img/avatars/default-avatar.png');
  	background-repeat: no-repeat;
  	background-size: 205px;
}

.avatar img {
	display: flex;
	border-radius: 120px;
}

.avatar-small {
	width: 48px;
  	height: 48px;
  	background-image: url('../img/avatars/default-avatar.png');
  	background-repeat: no-repeat;
  	background-size: 48px;
  	border-radius: 120px;
}

.avatar-small img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 48px;
  	height: 48px;
  	border-radius: 120px;
}

.avatar--edit-about-me {
  background-size: 83.9px;
}

.to-login-page {
	width: 100%;
}

.to-login-page a {
	display: block;
	text-align: center;
	color: #FFF;
}
 
.navigation__item--active a {
	text-decoration: none;
}

.footer {
	min-height: 305px;
}

body {
	height: 100%;
}

.section-ui {
  padding: 15px 0px;
}
.section-ui pre {
  margin-top: 0;
}

.btn-and-title {
	display: flex;
	justify-content: space-between;
}

.string-clip {
	width: calc(100% - 293.05px);
}

.profile__button {
	z-index: 99;
}

.notify-hide {
	display: none;
}

.bg-technology {
	padding-bottom: 50px;
}

.input-text {
	margin-top: 8px;
}

.message-author {
	align-items: center;
}

.message-date {
	width: calc(100% - 130px);
}